*{
  font-family: Roboto Mono;
}

.catphotos{
  position: absolute;
  top: 22%;
  left: 5%;
}

.title{
  position: absolute;
  top :10;
  left :60px;
  
}

.title h1{
  color: #fff;
  font-size: 36px;
  
}

img{
  border: 2px solid #fff;
  border-radius: 25px;
  height: 200px;
  width: 300px;
  transition: ease 0.3s;
}

img:hover{
  opacity: 0.5;
}

.btn2{
  display: block;
  opacity: 0.8;
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
  font-size:18px;
  border-radius: 25px;
}

.btn2:hover{
  background-color: #fff;
  color: #000;
}
