*{
  margin: 0;
  padding: 0;
  font-family: Roboto Mono;
}

header{
  background-color: #2E3440;
  height: 100vh;
  background-size: cover;
  background-position: center;
} 

ul{
  float: right;
  list-style-type: none;
  margin-top: 40px;
}  

ul li{
  display: inline-block;
}

ul li a{
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}  

ul li a:hover{
  background-color: #fff;
  color: #000;
}

.logo img{
  float: left;
  width: 50px;
  height: auto;
  margin-top: 20px;	
}

.main{
  max-width:1300px;
  margin: auto;
}

.title{
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #5E81AC;
  font-size: 48px;
}

.page_four{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.page_four h1{
  color: #fff;
  font-size: 20px;
}

.button{
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
}

.btn{
  display: block;
  opacity: 0.6;
  border: 2px transparent #fff;
  padding: 20px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
  font-size:18px;
  border-radius: 25px;
}

/*lolcats login*/

.login{
  display: block;
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%,-50%);
}

.btn2{
  display: block;
  opacity: 0.8;
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
  font-size:18px;
  border-radius: 25px;
}

.btn2:hover{
  background-color: #fff;
  color: #000;
}



